<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <style>
        .alert-danger {
            background-color: #ff8080;
            height: 44px;
            line-height: 44px;
            width: 50vh;
            color: black !important;
            border-radius: 4px;
        }

        button {
            background-color: #ff8080;
            border: none;
            float: right;
            height: 44px;
            outline: none;
        }
    </style>

</head>

<body>




</body>

</html>